@import "../../../theme/_constant";

.form {
  padding: 10px;
  border: 1px solid black;

  @media (min-width: $fe-breakpoint-small-start) {
    mat-selection-list {
      max-width: 300px;
      display: flex;
    }
  }

  .mat-list-item-content {
    justify-content: initial;
  }

  .mat-form-field {
    width: 320px;
  }

  button {
    margin: 10px 0;
  }
}

mat-table {
  width: 100%;
  margin: 10px 0;
}

